<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <base href = "http://localhost:8000/traxBotWeb/">
        <title>A Robot Vacuum for All Homes</title>
        <meta name = "author" content = "Devin Lightfoot"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>A Robot Vacuum for All Homes: traxBot</h1>
        <nav id = 'nav'>
            <ul>
                <li><a href = "about">About</a></li>
                <li><a href = "trax">Trax</a></li>
                <li><a href = "products">Products</a></li>
                <li><a href = "profile">Profile</a></li>
            </ul>
        </nav>
    </body>
</html>