<!DOCTYPE html>
<html lang = 'en'>
    <head>
        {% load static %}
        <link rel = 'stylesheet' type = 'text/css' href = "{% static 'traxBotWeb/style.css' %}">
        <base href = "http://localhost:8000/traxBotWeb/">
        <title>Various traxBot Products</title>
        <meta name = "author" content = "Devin Lightfoot"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id = 'foot'>
            <footer>
                <p>Created by Devin Lightfoot<br>
                <a href = 'https://github.com/devinlightfoot/traxBot'>Github</a>
                <a href = 'mailto:euler2171828@gmail.com'>Gmail</a><br>
                <a href = '/traxBotWeb/'>Back to traxBotWeb</a></p>
            </footer>
        </div>
    </body>
</html>